.App{
  min-height: 100vh;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-config{
  background: none;
  z-index: 1001;
}

.navbar-logo{
  padding-left: 30px;
}

.Home-content{
  position: absolute;
  width: 511px;
  height: 269px;
  left: 110px;
  top: 337px;
}

.connect-wallet-button {
  position: absolute;
  width: 212px;
  height: 43px;
  left: 1186px;
  top: 28px;

  background: radial-gradient(298.89% 2102.15% at -16.95% -66.67%, #5223A7 0%, #FF4FB4 100%);
  box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
}

.wallet-text {
  padding-left: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: white;
}

#home-title{
  font-family: 'Inter Extrabold';
  font-style: bold;
  font-weight: 800;
  font-size: 80px;
  line-height: 97px;


  background: radial-gradient(114.63% 155.16% at 4.44% -42.89%, #FF3EB5 0%, #FEFDC2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#home-subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
}